<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
    <link th:href="@{/css/boards_styles.css}" rel="stylesheet" />
</head>

<body>
<div class="d-flex" id="wrapper">
    <div class="content" th:replace="fragments/mypage :: mypage"></div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <span style="font-size : 30px">추천한 게시물</span>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                <div class="col mb-5"  th:each="board:${RecommendArticle}">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src=""
                             onerror="this.src='/assets/img/boards_default.jpg'">
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder"><a th:href="@{/boards/{BoardID}(BoardID=${board.BoardID})}" th:text="${board.BoardTitle}">게시물 이름</a></h5>
                                <span th:text="|작성자 : ${board.MemberNickname}|">작성자</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>

</html>