<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header">
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <Title>OurRecipe Board</Title>
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>게시물</h2>
        </div>
        <div>
            <label for="BoardTitle">글 제목</label>
            <input type="text" id="BoardTitle" name="BoardTitle" th:value="${board.BoardTitle}" class="form-control" readonly>
        </div>
        <div>
            <label for="MemberNickname">작성자</label>
            <input type="text" id="MemberNickname" name="MemberNickname" th:value="${board.MemberNickname}" class="form-control" readonly>
        </div>
        <div>
            <label for="WriteDate">작성일</label>
            <input type="text" id="WriteDate" name="WriteDate" th:value="${board.WriteDate}"class="form-control" readonly>
        </div>
        <div>
            <label for="WriteTime">작성 시간</label>
            <input type="text" id="WriteTime" name="WriteTime" th:value="${board.WriteTime}" class="form-control" readonly>
        </div>
        <div>
            <label for="BoardContent">글 내용</label>
            <textarea type="text" id="BoardContent" name="BoardContent"  style="height:400px;"
                      th:text="${board.BoardContent}"  class="form-control" readonly></textarea>
        </div>
        <div class="row">
            <div class="col">
                <div class="pagination justify-content-center" >
                    <div sec:authorize="isAuthenticated()">
                        <button
                                th:class=" ${recommend}==1 ? 'btn btn-success' : 'btn btn-outline-dark'"
                                th:onclick="|location.href='@{/boards/{BoardID}/recommend(BoardID=${board.BoardID})}'|"
                                type="button"
                                th:text="|추천 : ${board.RecommendCount}|"
                                >추천</button>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <button class="btn btn-primary"
                                th:onclick="alert('로그인이 필요합니다.'); location.href='/login';"
                                th:text="|추천 : ${board.RecommendCount}|"
                                type="button">추천</button>
                    </div>
                </div>
            <button
                    th:if="${board.MemberID} == ${member.MemberID}"
                    class="btn btn-primary float-end cols-mr-3"
                    th:onclick="|location.href='@{/boards/{BoardID}/edit(BoardID=${board.BoardID})}'|"
                    type="button">수정
            </button>
            <script th:inline="javascript" >
                    function confirm_delete() {
                        if(confirm("삭제 하시겠습니까?")){
                         alert('삭제가 완료되었습니다.');
                         var boardID = /*[[${board.BoardID}]]*/
                         location.href="/boards/"+boardID+"/delete";
                        }
                    }
            </script>
            <button
                    th:if="${board.MemberID} == ${member.MemberID}"
                    class="btn btn-primary float-end cols-mr-3"
                    th:href="@{/boards/{BoardID}/delete(BoardID=${board.BoardID})}"
                    th:onclick="return confirm_delete()"
                    type="button">삭제
            </button>

            <button class="btn btn-secondary float-end cols-mr-3"
                    th:onclick="|location.href='@{/boards/page={page}(page=${page})}'|"
                    type="button">목록
            </button>

            </div>
        </div>

        <form th:action = "@{/boards/{BoardID}(BoardID=${board.BoardID})}" method="post">
            <div class="row">
                <div class="col">
                <span>댓글 달기</span>
                    <input type="text" id="" name="Comment" class="form-control"
                           placeholder="댓글을 입력해주세요!" oninvalid="alert('댓글을 입력해주세요!');" required>
                    <div sec:authorize="isAuthenticated()">
                        <button class="btn btn-primary float-end"
                                type="submit">등록</button>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <button class="btn btn-primary float-end"
                                th:onclick="alert('로그인이 필요합니다.'); location.href='/login';"
                                type="button">등록</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
                <div th:each="comment:${comments}">
                    <div class="form-control col-xs-3">
                        <span type="text" id="CommentNickname" name="CommentNickname" th:text="${comment.MemberNickname}" readonly></span><pre></pre>
                        <span type="text" id="Comment" name="Comment" th:text="${comment.Comment}" readonly></span>
                        <div class="col-xs-5">
                            <button class="btn">삭제</button>
                        </div>
                    </div>
                </div>


        </div>

    </div> <!-- /container -->
    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>