<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="fragments/header :: header"></header>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원가입 페이지</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link th:href="@{/css/login_styles.css}" rel="stylesheet" />
	<style>
        .field-error{
            border-color:#dc3545;
            color:#dc3545
        }
    </style>
</head>

<body>
<div class="login-clean">
	<form action="/join"  th:object="${member}" method="post">
		<h2 class="sr-only">Login Form</h2>
		<div class="illustration"><i class="icon ion-ios-navigate"></i></div>
<!--		<div th:if="${#fields.hasGlobalErrors()}">-->
<!--			<p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>-->
<!--		</div>-->
		<div class="form-group">
			<input class="form-control" type="text"  name="MemberID" placeholder="아이디">
<!--		<div class="field-error" th:errors="*{MemberID}">아이디 오류</div>-->

		</div>
		<div class="form-group"><input class="form-control" type="Password" name="Password" placeholder="비밀번호"></div>
		<div class="form-group"><input class="form-control" type="Email" name="Email" placeholder="E-mail"></div>
		<div class="form-group"><input class="form-control" type="text" name="Nickname" placeholder="닉네임"></div>
		<div class="form-group"><button class="btn btn-primary btn-block" type="submit">Join !</button></div>

	</form>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>